<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">List Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#listProducts">List product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#listCategory">List category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#listBrand">List Brand</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="home">
    <table class="table table-hover table-sm table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">index</th>
          <th scope="col">Email</th>
          <th scope="col">type</th>
          <th scope="col">image</th>
          <th scope="col">create at</th>
          <th scope="col">updated at</th>
          <th scope="col">feature</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <% let index=1 %>
          <% for(let ob in listAccounts){ %>
            <tr>
              <td scope="row">
                <%= index++ %>
              </td>
              <td>
                <%= listAccounts[ob].email %>
              </td>
              <td class="row-type">
                <%= listAccounts[ob].type %>
              </td>
              <td><img src="/<%= listAccounts[ob].image %>" alt="img" width="50px" height="50px"> </td>
              <td> <%= listAccounts[ob].createdAt %></td>
              <td><%= listAccounts[ob].updatedAt %></td>
              <td class="row-feature">
                <input type="button" class="btn btn-danger btn-sm btn-delete-password" value="delete acount" data-id-password="<%= listAccounts[ob]._id %>">
                <input type="button" class="btn btn-warning btn-sm btn-reset-password" value="reset password" data-id-password="<%= listAccounts[ob]._id %>">
              </td>

            </tr>
            <% } %>
      </tbody>

    </table>
  </div>
  <div class="tab-pane container-fruid fade" id="listProducts">
    <div class="">
      <a class="btn btn-primary ml-1" href="admin/product/create">create product</a>
      <table class="table table-hover table-sm table-bordered mt-3">
        <thead class="text-center">
          <tr>
            <th>index</th>
            <th>Name</th>
            <th>description</th>
            <th>price</th>
            <th>discount</th>
            <th>category</th>
            <th>brand</th>
            <th>rate</th>
            <th>n_Rate</th>
            <th>liked</th>
            <th>sold</th>
            <th>amount</th>
            <th>image</th>
            <th>feature</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% let indexProduct = 1 %>
            <% for(let i=0; i <listProducts.length; i++){ %>
        
              <tr>
                <td>
                  <%= indexProduct++ %>
                </td>
                <td>
                  <%= listProducts[i].name.slice(0, 30) %>...
                </td>
                <td>
                  <%= listProducts[i].description.slice(0, 30) %>...
                </td>
                <td>
                  <%= listProducts[i].price %>đ
                </td>
                <td>
                  <%= listProducts[i].discount %>%
                </td>
                <td>
                  <%= listProducts[i].category? listProducts[i].category.name :'chưa có' %>
                </td>
                <td>
                  <%= listProducts[i].brand? listProducts[i].brand.name:'chưa có' %>
                </td>
                <td>
                  <%= listProducts[i].rate %>
                </td>
                <td>
                  <%= listProducts[i].numberRate %>
                </td>
                <td>
                  <%= listProducts[i].liked %>
                </td>
                <td>
                  <%= listProducts[i].sold %>
                </td>
                <td>
                  <%= listProducts[i].amount %>
                </td>
                <td>
                  <img src="/<%= listProducts[i].image %>" alt="img" width="30px" height="30px"> 
                  </td>
                <td>
                  <button class="btn btn-danger btn-sm btn-delete-product" data-id-product="<%=listProducts[i]._id  %>">Delete</button>
                  <a class="btn btn-warning btn-sm btn-update-product" href='/admin/product/update/id/<%=listProducts[i]._id %>' >update</a>
                </td>
              </tr>
              <% } %>
        
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane container fade" id="listCategory">
    <a class="btn btn-primary" href="/admin/category/create">create category</a>
    <table class="table table-hover table-sm table-bordered">
      <thead class="text-center">
        <tr>
          <th>index</th>
          <th>name</th>
          <th>image</th>
          <th>created at</th>
          <th>updated at</th>
          <th>amount product</th>
          <th>feature</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% let indexCategory = 1 %> 
        <% for(let i = 0; i <listCategorys.length; i++){ %> 
         
        <tr>
          <td> <%= indexCategory++ %> </td>
          <td><%= listCategorys[i].name %> </td>
          <td><img src="/<%= listCategorys[i].image %>" width="50px" height="50px" alt="image" /></td>
          <td><%= listCategorys[i].createdAt %></td>
          <td><%= listCategorys[i].updatedAt %></td>
          <td><%= listCategorys[i].products.length %></td>
          <td>
            <button class="btn btn-danger btn-sm btn-delete-category" data-id-category="<%= listCategorys[i]._id %>">Delete</button>
            <a href="/admin/category/update/id/<%= listCategorys[i]._id %>" class="btn btn-warning btn-sm btn-update-category" data-id-category="<%= listCategorys[i]._id %>">update</a>
          </td>
        </tr>
        <% } %> 


       
      </tbody>
    </table>
  </div>
  <div class="tab-pane container fade" id="listBrand">
    <a class="btn btn-primary" href="/admin/brand/create">create my brand</a>
    <table class="table table-hover table-sm table-bordered">
      <thead class="text-center">
        <tr>
          <th>index</th>
          <th>name brand</th>
          <th>created at</th>
          <th>updated at</th>
          <th>amount product</th>
          <th>feature</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% let indexBrand=1 %>
          <% for(let i=0; i <listBrands.length; i++){ %>
      
            <tr>
              <td>
                <%= indexBrand++ %>
              </td>
              <td>
                <%= listBrands[i].name %>
              </td>
              <td>
                <%= listBrands[i].createdAt %>
              </td>
              <td>
                <%= listBrands[i].updatedAt %>
              </td>
              <td>
                <%= listBrands[i].products.length %>
              </td>
              <td>
                <button class="btn btn-danger btn-sm btn-delete-brand" data-id-brand="<%= listBrands[i]._id %>">Delete</button>
                <a href="/admin/brand/update/id/<%= listBrands[i]._id %>" class="btn btn-warning btn-sm">update</a>
              </td>
            </tr>
            <% } %>  
      </tbody>
    </table>
  </div>
</div>

