

    <section>
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="carousel-container">
                        <div class="carousel-slice">
                            <img class="carousel-img" src="../images/prouduct/image/slice1.jpg" alt="">
                            <img class="carousel-img" src="../images/prouduct/image/slice2.jpg" alt="">
                            <img class="carousel-img" src="../images/prouduct/image/slice3.jpg" alt="">
                            <img class="carousel-img" src="../images/prouduct/image/slice4.jpg" alt="">
                            <img class="carousel-img" src="../images/prouduct/image/slice5.jpg" alt="">

                        </div>

                        <i class="fas fa-chevron-right carousel-btn-next" onclick="pushSlice(1)"></i>
                        <i class="fas fa-chevron-left carousel-btn-prev" onclick="pushSlice(-1)"></i>
                        <div class="carousel-dot">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="banners__right">
                        <a href="#" class="banners__right__link">
                            <img class="banners__right__img" src="../images/prouduct/image/slice_right1.jpg" alt="">
                        </a>
                        <a href="#" class="banners__right__link">
                            <img class="banners__right__img" src="../images/prouduct/image/slice_right2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="category">
                            <h2 class="home-category-header">Danh Mục</h2>
                            <ul class="home-category-list">
                                <% for(let i =0 ;i< listCategory.length;i++){  %> 
                                <li class="home-category-item">
                                    <a class="home-category-item-link" href="#">
                                        <img class="home-category-item-img" src="/<%= listCategory[i].image %> " alt="">
                                        <p class="home-category-item-link-descripsion"><%= listCategory[i].name %> </p>
                                    </a>
                                </li>
                                <% } %> 
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="stardust-tabs-header">
                    <li class="stardust-tabs-header__tab ">
                        <a class="stardust-tabs-header__link active" href="#">gợi ý hôm nay</a>
                    </li>
                    <li class="stardust-tabs-header__tab">
                        <a class="stardust-tabs-header__link" href="#">18.6 Sale hàng quốc tế</a>
                    </li>
                </ul>

                <!-- list product -->
                <div class="row">

                    <% for(let i = 0 ; i < listProduct.length;i++){ %> 

                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('/<%= listProduct[i].image %>');">
                                </div>
                                
                                <p class="product-container__name"><%= listProduct[i].name %> </p>
                                <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ<%= listProduct[i].price %></span>
                                    <span class="product-sold">đã bán <%=  listProduct[i].sold%>k</span>
                                </div>

                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent"><%= listProduct[i].discount %>%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %> 
                    <!-- <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#" >
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify2.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify3.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify4.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify5.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify1.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify2.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify3.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify4.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify5.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify5.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="product-container">
                            <a href="#">
                                <div class="product-container__img" style="background-image: url('../images/prouduct/image/notify5.jpg');">
                                </div>
                                <p class="product-container__name">Son Kem Perfect Diary Màu Lì Tông Màu Cổ Điển Lâu Trôi 2.5g</p>
                                 <div class="discount_tickel">
                                    <span>Giảm <u>đ</u>189k</span>
                                </div>
                                <div class="product-container__price">
                                    <span class="product-price">đ14.500</span>
                                    <span class="product-sold">đã bán 3k</span>
                                </div>
                                <div class="favourite">
                                    <span>Yêu thích</span>
                                </div>
                                <div class="discount">
                                    <span class="discount__persent">50%</span>
                                    <span class="discount__persent__text">giảm</span>
                                </div>
                            </a>
                        </div>
                    </div> -->
                    
                    
                </div>
            </div>
            <div class="view-all-product-btn">
                <a href="#">Xem thêm</a>
            </div>

        </div>


    </section>

<div class="messenger-container">
    <a href="#">
        <div class="messenger-container-item">
        </div>
    </a>

</div>
   